<!-- app/shop/templates/shop/index.html -->
{% extends 'base.html' %}
{% load static %}

{% block content %}
	<!-- //////////////////////////////
		SLIDER 
	///////////////////////////////-->
    {% include "partials/slider.html" with sliders=sliders %}


	<!-- //////////////////////////////
		MAIN CONTENT 
	///////////////////////////////-->
    <div  class="main_content">

        <!-- New Collections -->
        <div  class="section pb_20">
            <div  class="container">
                <div  class="row">

                    {% for collection in collections %}
                    <div  class="col-md-6">
                        <div  class="single_banner"><img 
                                alt="shop_banner_img1"
                                src="{{ collection.image.url }}">
                            <div  class="single_banner_info">
                                <h5  class="single_bn_title1">{{ collection.description }}</h5>
                                <h3  class="single_bn_title">{{ collection.title }}</h3><a
                                     class="single_bn_link"
                                    href="{{ collection.button_link }}">{{ collection.button_text }}</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                  
                </div>
            </div>
        </div>
        <!-- New Collections ends -->

        <!-- Exclusive Products -->
        <div  class="section small_pt pb_70">
            <div  class="container">
                <div  class="row justify-content-center">
                    <div  class="col-md-6">
                        <div  class="heading_s1 text-center">
                            <h2 >Exclusive Products</h2>
                        </div>
                    </div>
                </div>
                <div  class="row">
                    <div  class="col-12">

                        <!-- Tabs -->
                        <div  class="tab-style1">
                            <ul  role="tablist" class="nav nav-tabs justify-content-center">
                                <li  class="nav-item"><a 
                                        id="arrival-tab" data-bs-toggle="tab" href="#arrival" role="tab"
                                        aria-controls="arrival" aria-selected="true" class="nav-link active">New
                                        Arrival</a></li>
                                <li  class="nav-item"><a 
                                        id="sellers-tab" data-bs-toggle="tab" href="#sellers" role="tab"
                                        aria-controls="sellers" aria-selected="false" class="nav-link">Best Sellers</a>
                                </li>
                                <li  class="nav-item"><a 
                                        id="featured-tab" data-bs-toggle="tab" href="#featured" role="tab"
                                        aria-controls="featured" aria-selected="false" class="nav-link">Featured</a>
                                </li>
                                <li  class="nav-item"><a 
                                        id="special-tab" data-bs-toggle="tab" href="#special" role="tab"
                                        aria-controls="special" aria-selected="false" class="nav-link">Special Offer
                                    </a></li>
                            </ul>
                        </div>
                        <!-- Tabs ends -->

                        <!-- Tabs content -->
                        <div  class="tab-content">

                            <!-- New arrivals -->
                            <div  id="arrival" role="tabpanel" aria-labelledby="arrival-tab"
                                class="tab-pane fade show active">
                                <div  class="row shop_container">
                                    {% for new_arrival in new_arrivals %}
                                    <div  class="col-lg-3 col-md-4 col-6">
                                        <div  class="product">
                                            <div  class="product_img">
                                                <a href="shop-product-detail.html">
                                                <img alt="product_img1" src="{{ new_arrival.images.first.image.url }}">
                                                </a>
                                                <div  class="product_action_box">
                                                    <ul  class="list_none pr_action_btn">
                                                        <li class="add-to-cart">
                                                            <a href="#">
                                                            <i class="icon-basket-loaded"></i> Add To Cart </a>
                                                        </li>
                                                        <li>
                                                            <a href="shop-compare.html">
                                                            <i class="icon-shuffle"></i></a>
                                                        </li>
                                                        <li>
                                                            <a href="shop-quick-view.html" >
                                                            <i class="icon-magnifier-add"></i></a>
                                                        </li>
                                                        <li ><a href="#"><i class="icon-heart"></i></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div  class="product_info">
                                                <h6 class="product_title">
                                                    <a ng-reflect-router-link="/,product,bikini-unicolore-cte"
                                                        href="">{{ new_arrival.name }}</a>
                                                </h6>
                                                <div class="product_price">
                                                    <span class="price">${{ new_arrival.sold_price }}</span>
                                                        <del>${{ new_arrival.regular_price }}</del>
                                                    <div  class="on_sale"><span>35% Off</span></div>
                                                </div>
                                                <div  class="rating_wrap">
                                                    <div  class="rating">
                                                        <div  class="product_rate" style="width: 80%;"></div>
                                                    </div>
                                                    <span class="rating_num">(21)</span>
                                                </div>
                                                <div  class="pr_desc">
                                                    <p>{{ new_arrival.description | safe }}
                                                    </p>
                                                </div>
                                                <div  class="pr_switch_wrap">
                                                    <div class="product_color_switch"><span data-color="#87554B" class="active"></span>
                                                        <span data-color="#333333"></span><span data-color="#DA323F"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <!-- New arrivals ends -->

                            <!-- Best seller s-->
                            <div  id="sellers" role="tabpanel" aria-labelledby="sellers-tab"
                                class="tab-pane fade">
                                <div  class="row shop_container">
                                    {% for best_seller in best_sellers %}
                                    <div  class="col-lg-3 col-md-4 col-6">
                                        <div  class="product">
                                            <div  class="product_img">
                                                <a href="shop-product-detail.html">
                                                <img alt="product_img1" src="{{ best_seller.images.first.image.url }}">
                                                </a>
                                                <div  class="product_action_box">
                                                    <ul  class="list_none pr_action_btn">
                                                        <li class="add-to-cart">
                                                            <a href="#">
                                                            <i class="icon-basket-loaded"></i> Add To Cart </a>
                                                        </li>
                                                        <li>
                                                            <a href="shop-compare.html">
                                                            <i class="icon-shuffle"></i></a>
                                                        </li>
                                                        <li>
                                                            <a href="shop-quick-view.html" >
                                                            <i class="icon-magnifier-add"></i></a>
                                                        </li>
                                                        <li ><a href="#"><i class="icon-heart"></i></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div  class="product_info">
                                                <h6 class="product_title">
                                                    <a ng-reflect-router-link="/,product,bikini-unicolore-cte"
                                                        href="">{{ best_seller.name }}</a>
                                                </h6>
                                                <div class="product_price">
                                                    <span class="price">${{ best_seller.sold_price }}</span>
                                                        <del>${{ best_seller.regular_price }}</del>
                                                    <div  class="on_sale"><span>35% Off</span></div>
                                                </div>
                                                <div  class="rating_wrap">
                                                    <div  class="rating">
                                                        <div  class="product_rate" style="width: 80%;"></div>
                                                    </div>
                                                    <span class="rating_num">(21)</span>
                                                </div>
                                                <div  class="pr_desc">
                                                    <p>{{ best_seller.description | safe }}
                                                    </p>
                                                </div>
                                                <div  class="pr_switch_wrap">
                                                    <div class="product_color_switch"><span data-color="#87554B" class="active"></span>
                                                        <span data-color="#333333"></span><span data-color="#DA323F"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <!-- Best sellers ends -->

                            <!-- Featured -->
                            <div  id="featured" role="tabpanel"
                                aria-labelledby="featured-tab" class="tab-pane fade">
                                <div  class="row shop_container">
                                    {% for featured in featured %}
                                    <div  class="col-lg-3 col-md-4 col-6">
                                        <div  class="product">
                                            <div  class="product_img">
                                                <a href="shop-product-detail.html">
                                                <img alt="product_img1" src="{{ featured.images.first.image.url }}">
                                                </a>
                                                <div  class="product_action_box">
                                                    <ul  class="list_none pr_action_btn">
                                                        <li class="add-to-cart">
                                                            <a href="#">
                                                            <i class="icon-basket-loaded"></i> Add To Cart </a>
                                                        </li>
                                                        <li>
                                                            <a href="shop-compare.html">
                                                            <i class="icon-shuffle"></i></a>
                                                        </li>
                                                        <li>
                                                            <a href="shop-quick-view.html" >
                                                            <i class="icon-magnifier-add"></i></a>
                                                        </li>
                                                        <li ><a href="#"><i class="icon-heart"></i></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div  class="product_info">
                                                <h6 class="product_title">
                                                    <a ng-reflect-router-link="/,product,bikini-unicolore-cte"
                                                        href="">{{ featured.name }}</a>
                                                </h6>
                                                <div class="product_price">
                                                    <span class="price">${{ featured.sold_price }}</span>
                                                        <del>${{ featured.regular_price }}</del>
                                                    <div  class="on_sale"><span>35% Off</span></div>
                                                </div>
                                                <div  class="rating_wrap">
                                                    <div  class="rating">
                                                        <div  class="product_rate" style="width: 80%;"></div>
                                                    </div>
                                                    <span class="rating_num">(21)</span>
                                                </div>
                                                <div  class="pr_desc">
                                                    <p>{{ featured.description | safe }}
                                                    </p>
                                                </div>
                                                <div  class="pr_switch_wrap">
                                                    <div class="product_color_switch"><span data-color="#87554B" class="active"></span>
                                                        <span data-color="#333333"></span><span data-color="#DA323F"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <!-- Featured ends -->

                            <!-- Special offers -->
                            <div  id="special" role="tabpanel" aria-labelledby="special-tab"
                                class="tab-pane fade">
                                <div  class="row shop_container">
                                    {% for special_offer in special_offers %}
                                    <div  class="col-lg-3 col-md-4 col-6">
                                        <div  class="product">
                                            <div  class="product_img">
                                                <a href="shop-product-detail.html">
                                                <img alt="product_img1" src="{{ special_offer.images.first.image.url }}">
                                                </a>
                                                <div  class="product_action_box">
                                                    <ul  class="list_none pr_action_btn">
                                                        <li class="add-to-cart">
                                                            <a href="#">
                                                            <i class="icon-basket-loaded"></i> Add To Cart </a>
                                                        </li>
                                                        <li>
                                                            <a href="shop-compare.html">
                                                            <i class="icon-shuffle"></i></a>
                                                        </li>
                                                        <li>
                                                            <a href="shop-quick-view.html" >
                                                            <i class="icon-magnifier-add"></i></a>
                                                        </li>
                                                        <li ><a href="#"><i class="icon-heart"></i></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div  class="product_info">
                                                <h6 class="product_title">
                                                    <a ng-reflect-router-link="/,product,bikini-unicolore-cte"
                                                        href="">{{ special_offer.name }}</a>
                                                </h6>
                                                <div class="product_price">
                                                    <span class="price">${{ special_offer.sold_price }}</span>
                                                        <del>${{ special_offer.regular_price }}</del>
                                                    <div  class="on_sale"><span>35% Off</span></div>
                                                </div>
                                                <div  class="rating_wrap">
                                                    <div  class="rating">
                                                        <div  class="product_rate" style="width: 80%;"></div>
                                                    </div>
                                                    <span class="rating_num">(21)</span>
                                                </div>
                                                <div  class="pr_desc">
                                                    <p>{{ special_offer.description | safe }}
                                                    </p>
                                                </div>
                                                <div  class="pr_switch_wrap">
                                                    <div class="product_color_switch"><span data-color="#87554B" class="active"></span>
                                                        <span data-color="#333333"></span><span data-color="#DA323F"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <!-- Special offers ends -->
                        </div>
                        <!-- Tabs content ends -->

                    </div>
                </div>
            </div>
        </div>
        <!-- Exclusive Products ends -->
    </div>

{% endblock %}